<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="wrapper">
  <mat-card class="main">

    <mat-card class="game">

      <div *ngFor="let row of grid; let x = index">
        <button
          *ngFor="let item of row; let y = index"
          [color]="item ? 'primary' : 'warn'"
          (click)="wack(item, x, y)"
          mat-icon-button
        >
          <mat-icon>{{ item ? item : miss }}</mat-icon>
        </button>
      </div>

    </mat-card>

    <mat-card class="controls">

      <button mat-raised-button color="accent" (click)="start()">{{ interval ? 'Stop' : 'Start' }}</button>

      <br>

      <h2 *ngIf="interval || score">
        Time<hr>{{ time }}
      </h2>
      <br>
      <h2 *ngIf="interval || score">
        Score<hr>{{ score }}
      </h2>

    </mat-card>

  </mat-card>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


